# Manipulação de Dados
pandas
numpy
openpyxl

# Visualização de Dados
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn

# Interface Web
streamlit==1.32.0

# Compatibilidade
altair==4.2.2
