# Manipulação de Dados
pandas
numpy
openpyxl

# Visualização de Dados
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn

# Interface Web
streamlit

# Compatibilidade Streamlit
altair==4.2.2
